/* Reset */
* {
margin: 0;
padding: 0;
}

img {
    width: auto;
    height: auto;
}
body {
    justify-content: center;
    background-color: rgb(247, 237, 202);
    align-items: center;
    font-family: Lato, sans-serif;
}

.players-area {
    position: relative;
    max-width: min(100% - 4rem, 1200px);
    min-height: 95%;
    border: 2PX solid #000;
    margin: 30px auto;
    align-items: center;
    box-shadow: 5px 5px 10px #222;
}
.players-area::before {
    content: ""; 
    position: absolute;
    inset: 0 0 50% 0;
    background-color: #84A59D;
    z-index: -1;
}
.players-area::after {
    content: ""; 
    position: absolute;
    inset: 50% 0 0 0;
    background-color: #F38381;
    z-index: -1;
}
/*Eléments du haut de chaque joueur*/

.players {
    flex-shrink: 1;
    padding: clamp(1rem, 5vw, 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player1-text, .player2-text {
    position: relative;
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

.players-total-score {
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}
.score {
    padding-top: 2rem;
}

.green-dot1 {
    position: absolute;
    inset: 50% 0 auto 100%;
    transform: translateY(-50%);
    max-width: 2rem;
    height: 2rem;
}

.green-dot2 {
    position: absolute;
    inset: 50% 0 auto 100%;
    transform: translateY(-50%);
    max-width: 2rem;
    height: 2rem;
}

/*Eléments du bas de chaque joueur*/

.players-temp-score {
    margin-top: min(3vw, 4rem);
    padding: 2rem;
    background-color: #f5c1c3;
    text-align: center;
}

.temp-score {
    padding-top: 1rem;
    font-size: 2rem;
}
.temp-score-text {
     font-size: clamp(1rem, 3vw, 2rem);
}

/*Elément et icones du milieu*/
.buttons {
    flex-shrink: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: min(2.5vw, 2rem);
    margin-inline: 1rem;
}
.new-game-plus {
    max-width: 2rem;
    aspect-ratio: 1;
}
.btn {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    max-width: 10rem;
    padding: 0.5rem;
    cursor: pointer;
}
.dice {
    display: block;
    margin-inline: auto;
    max-width: 6rem;
    height: 6rem;
    background: white;
    border-radius: 1rem;
}

.roll-dice-picture {
    width: 2rem;
    aspect-ratio: 1;
}

.hold-picture {
    width: 2rem;
    aspect-ratio: 1;
}
 
.btn-newgame {
    flex-grow: 1;
    top: 4rem;
}

.btn-roll-dice {
    flex-grow: 1;
    margin-top: 1rem;
    top: 58%;
}
.btn-hold-score {
    flex-grow: 1;
    top: 75%;
}

@media screen and (max-width: 7689x){
    .players-area {
    margin : 0;
}
}
